body {
    background-color: black;
    color: white;
}

#sortable-sms { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#sortable-sms > li { margin: 0; padding: 0px, 5px, 0px, 5px; font-size: 0.8em; height: 6.0em; }
